<li>

    {{burger_name}}


<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devour}}" >
{{#if devour}} eatnow {{else}} I'll eat later {{/if}}
</button>
<button class="delete-burger" data-id="{{this.id}}">
Bye Burger!
</button>    
</li>